
<div class="container-md w-50 mt-4 text-center mb-4">
  <%= render @article %>
  <%= link_to "Return to articles", articles_path, class: "text-decoration-none btn btn-outline-secondary mt-2" %>
</div>
